{% extends "ecom/layout.html" %}
{% block content %}
<section class="bg-white dark:bg-gray-800">
    <h1 class="m-4 text-xl text-gray-800 dark:text-white">{{ product.name|title }}</h1>
    <p class="my-6 mx-4 text-gray-800 dark:text-white">{{ product.desc }}</p>
    <form method="post" action="/shop/cart/add/">
        <button type="submit" class="py-4 px-6 bg-blue-700 rounded rounded-lg text-white hover:bg-blue-600 transition transition-colors duration-200">
            Add to Cart
        </button>
    </form>
</section>
{% endblock content %}
