<li>
    <a href="" class="group block overflow-hidden">
        <img src="" alt="Product Image" class="h-auto max-w-md"/>
        <div class="relative bg-white pt-3">
            <h3 class="text-xs text-gray-700 group-hover:underline group-hover:underline-offset-4">
                {{ product.name }}
            </h3>
            <p class="mt-2">
                <span class="sr-only">Regular Price</span>
                <span class="tracking-wider text-gray-900">${{ product.price|floatformat:"-2g" }}</span>
            </p>
        </div>
    </a>
</li>
